html {
  box-sizing: border-box;
  background-size: cover;
  height: auto;
  overflow: hidden;
  background: url("https://www.grantex.cz/files/obehove-hospodarstvi.jpg") no-repeat center center fixed;
}

*, ::after, ::before {
  box-sizing: inherit;
}


